.filter-photo{
  min-width: 320px;
  padding: 0 20px 0;
  min-height: 200px;
}

.filter-photo__post{
  width:(280/320)*100%;
  margin:auto;
}

.filter-photo__post-item--picture{
  min-width:280px;
  min-height:374px;
  background: url('../../build/jpg/photo-7-mobile.jpg') no-repeat;
  background-size: cover;
}

.filter-photo__post-item--setting{
  min-width: 280px;
  display: flex;
  flex-direction: column;
}

.filter-photo__post--wrapper{
  width: (198/280)*100%;
  min-height: 44px;
  margin:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:42px 0 42px;
}

.filter-photo__post-range{
  display: none;
}

.filter-photo__post-aband,
.filter-photo__post-post{
  width:(280/320)*100%;
  height: 55px;
  margin:auto;
  border-radius: 30px;
  border:2px solid rgb(210,30,86);
}

.filter-photo__post-post{
  margin-top: 30px;
}

.filter-photo__post-aband{
  margin-top: 15px;
}

.filter-photo__post-aband{
  border:2px solid rgb(221,223,224);
}

@media(min-width:660px){
  .filter-photo__post{
    width:(620/660)*100%;
    display: flex;
    justify-content: space-between;
  }

  .filter-photo__post-item{
  min-width: 300px;
  }

  .filter-photo__post--wrapper{
    min-height: 216px;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  .filter-photo__post--wrapper div{
    display: flex;

  }

  .filter-photo__post-item-picture{
    background: url('../../build/jpg/photo-7-tablet.jpg');
  }

  .filter-photo__post-after--range{
    display: none;
  }

  .filter-photo__post-range{
    display: block;
  }
}

@media(min-width: 960px){
.filter-photo{
  width: (800/960)*100%;
  margin: auto;
}
}

