.contacts-emotions{
  width:100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: rgb(242,242,242);
  padding: 40px 20px 30px;
}

.contacts-emotions__label{
  margin-top: 40px;
  position:relative;
  padding-left: 50px;
}

.contacts-emotions__span{
  position: absolute;
  width: 35px;
  height: 35px;
  border:1px solid rgb(209,209,209);
  border-radius: 50%;
  left:0;
  top:-50%;
  cursor:pointer;
}

.contacts-emotions__input:checked + .contacts-emotions__span{
background: url('../../svg/Shape.svg') no-repeat center;
}


@media(min-width:768px){
  .contacts-emotions{
    box-shadow:  0 0 1px 1px rgb(209,209,209);
    padding-bottom: 30px;
    padding-left: 40px;
    order:-2;
    position:relative;
    background-color: transparent;
  }

  .contacts-emotions__title{
    position:absolute;
    left:50%;
    top:0;
    transform:translate(-50%,-50%);
    background-color: rgb(255,255,255);
    //padding: 0 15px 0;
  }

  .contacts-emotions__title br{
    display: none;
  }
}


@media(min-width:1200px){
  .contacts-emotions{
    width:48%;
    margin:0;
    min-height: 290px;
  }

  .contacts-emotions__title br{
  display: none;
  }

}