
.features-facilities{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.features-facilities__item{
  font-size:14px;
  line-height: 24px;
  padding: 0 90px 0 90px;
  //padding-left: 33px;
  //padding-right: 33px;
}

.features-facilities__item span{
  font-weight: 700;
  display: block;
  font-size: 18px;
  margin:20px 0 20px;
}

.features__iphone{
  width:(157/320)*100%;
  min-height: 330px;
  margin:auto;
  background: url('../../images/iphone-screen.png') 50% 5% no-repeat;
  background-size: 80%;
  margin-top: 35px;
}

@media(min-width:$tablet-width){

  .features__wrapper{
   justify-content: space-around ;
    align-items: center;
  }
  .features-facilities{
  width:(310/660)*100%;
  }
  .features__iphone{
    margin:0;
    min-height: 466px;
    width:(287/660)*100%;
    background-size: 100%;
  }
  .features-facilities{
    order:2;
    text-align: left;
  }
  .features-facilities__item{
    padding: 0;
  }
}

@media(min-width:1100px){
  .features__iphone{
    display: none;
  }

  .features-facilities{
    flex-direction: row;
    width:(886/1200)*100%;
    text-align: center;
  }

  .features-facilities__item{
    width:33%;
  }

  .features-facilities__item span{
    font-size: 30px;
    line-height: 30px;
  }
}


