.header-phone{
  background:  url('../../images/iphone-mobile.png') no-repeat left bottom,
  url('../../images/back-mobile.jpg') no-repeat  center/cover;
  min-height: 462px;
}

@media(min-width:660px){
  .header-phone{
    min-height: 729px;
    background: url('../../images/iphone-tablet.png') no-repeat 200px bottom,
    url('../../images/back-tablet@1x.png')no-repeat center/cover;
  }
}

@media(min-width:1200px){
  .header-phone{
    min-height: 853px;
    background: url('../../images/iphone-desktop.png') no-repeat bottom,
            url('../../images/back-desktop.jpg')no-repeat center/cover;
  }
}
