.panorama{
  min-width: 320px;
}

.panorama-card{
  min-width: 320px;
}

.panorama-card__item-picture{
  min-height:137px;
  width:100%;
  background: url('../../jpg/panorama-mobile.jpg.jpg') no-repeat 0 -27px;
  background-size: 100%;
}

.panorama-card__item-text{
  width:(252/320)*100%;
  margin: auto;
  padding: 25px 23px 28px 17px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.panorama-card__item-name span{
  color:rgb(94,104,115);
  font-weight:normal;
  text-transform: uppercase;
}

.panorama-card__item-name{
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  //order:-2;
}

.panorama-card__item-comment{
  line-height: 25px;
}

.panorama-card__item-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:(145/280)*100%;
  //order:-1;
}

.panorama-card__item-like{
  color:rgb(216,80,117);
  line-height: 30px;
}

@media(min-width: 660px){
  .panorama-card__item-picture{
    min-height: 509px;
    background: url('../../jpg/panorama-tablet.jpg.jpg') no-repeat;
    background-size:cover;
  }

  .panorama-card__item-name{
    order:-2;
  }

  .panorama-card__item-wrapper{
    order:-1;
    width:(150/620)*100%

  }

  .panorama-card__item-like{
    order:-1;
  }

}

@media(min-width: 960px){
  .panorama-card__item-picture{
    min-height: 506px;
    background: url('../../jpg/panorama-desktop.jpg.jpg') no-repeat;

  }
  .panorama-card__item-text{
    min-width: 960px;
  }

}