.slider-map{
  width: 100%;
  min-height: 331px;
  position: relative;
  overflow: hidden;
}

.slider-map__controls{
  position: absolute;
  min-width: 60px;
  display: flex;
  justify-content: space-between;
  left:50%;
  transform: translate(-50%);
  bottom:20px;
  z-index: 100;
}

.slider-map__label{
  width: 15px;
  height: 15px;
  box-shadow: inset 0  0 2px 2px rgb(255,255,255);
  cursor: pointer;
  background-color: rgb(200,200,200);
  border-radius:50%;
}

#btn-4:checked ~.slider-map__controls label[for="btn-4"]{
  box-shadow: inset 0  0 2px 2px rgb(0,0,0);
  background-color: rgb(255,255,255);
}

#btn-5:checked ~.slider-map__controls label[for="btn-5"]{
  box-shadow: inset 0  0 2px 2px rgb(0,0,0);
  background-color: rgb(255,255,255);
}

#btn-6:checked ~.slider-map__controls label[for="btn-6"]{
  box-shadow: inset 0  0 2px 2px rgb(0,0,0);
  background-color: rgb(255,255,255);
}


.slider-map__inner{
  width:100%;
  min-height: 331px;
  overflow: hidden;
}

.slider-map__menu{
  width: 100%;
  min-height: 280px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.slider-map__item{
  padding-right: 20px;
  padding-left: 20px;
  min-height: 60px;
  @extend %justify-flex;
  border:1px solid lightgrey;
}

.slider-map__item:nth-child(1){
  min-height: 95px;
  background: rgb(40,54,69) url('../../images/hit.png') no-repeat;
  padding:20px 40px;
  display:flex;
  flex-direction: column;
  color:rgb(226,228,230);

}


.slider-map__menu--first{
  display: none;
}

.slider-map__menu--first .slider-map__item:nth-child(1){
  background: none;
}
//
//.slider-map__menu--second{
//  background-color: green;
//}
//
//.slider-map__menu--third{
//  background-color:yellow;
//}
//
//.slider-map__menu--fourth{
//  background-color: orange;
//}

#btn-4:checked ~ .slider-map__inner .slider-map__menu--second{
  display: block;
}
#btn-4:checked ~ .slider-map__inner .slider-map__menu--fourth,
#btn-4:checked ~ .slider-map__inner .slider-map__menu--third{
  display: none;
}

#btn-5:checked ~ .slider-map__inner .slider-map__menu--third{
  display: block;
}

#btn-5:checked ~ .slider-map__inner .slider-map__menu--second,
#btn-5:checked ~ .slider-map__inner .slider-map__menu--fourth{
  display: none;
}


#btn-6:checked ~ .slider-map__inner .slider-map__menu--fourth{
  display: block;
}

#btn-6:checked ~ .slider-map__inner .slider-map__menu--second,
#btn-6:checked ~ .slider-map__inner .slider-map__menu--third{
  display: none;
}


@media(min-width:660px){
  .slider-map__inner{
   display: flex;
  }

  .slider-map__menu{
    width: 25%;
    position: relative;
  }

  .slider-map__menu--first{
    display: flex;
  }

  .slider-map__controls{
    display: none;
  }

  .slider-map__item--invisible{
    display: none;
  }
  //.slider-map__item{
  // display: flex;
  //  justify-content: center;
  //  align-items: center;
  //}

}


