.time-effect{
  display: none;
  width: 100px;
  height: 100px;

}

@media(min-width:660px){
  .time-effect {
    width: 100%;
    min-height: 290px;
    padding: 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .time-effect__container{
    width:(310/660)*100%;

    h2{
  font-size: 30px;
    }

    p{
      font-size: 14px;
      line-height: 24px;
    }

    a{
    font-size: 14px;
      line-height: 24px;
      color:rgb(210,40,86);
      text-decoration: underline;
      display: block;
      margin-top: 5px;
    }
  }
}

@media(min-width:1100px){
  .time-effect{
    width:90%;
    margin: 30px auto 0;
  }

  .time-effect__container{
    width:(570/1200)*100%;
  }
}